// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-title {
    // color: #657786;
    color: #428bca;
}

.search-hashtag {
    color: #4285f4;
    text-align: center;
}